# See http://help.github.com/ignore-files/ for more about ignoring files.

# test media
test/videos
test/clips

# media storage
public/frames
public/clipCache
public/clips
public/thumbnails
public/videos

# database storage
videoDatabase.json
clipDatabase.json
metadataDatabase.json

# dependencies
node_modules

# testing
coverage

# production
build
electron-video-editor-*

# misc
.DS_Store
.env
npm-debug.log
package-lock.json
.idea
todo
todo.txt
