.GIF {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.intro {
  font-size: large;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

#downloadURLLabel {
  display: flex;
  flex-direction: row;
}

#downloadURL {
  width: 30em;
  height: 5em;
  margin-left: 2em;
}

button {
  width: 15em;
  height: 2.5em;
  margin-top: 2em;
}

pre {
  word-wrap: break-word;
}
