.Clip {
  display: flex;
  flex-direction: column;
}

.Clip input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2em;
  height: 2em;
  border-radius: 2em;
  border: 2px solid buttonface;
  box-shadow: 2px 2px 2px lightgray;
  background: white;
  cursor: pointer;
}
.Clip input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  width: 2em;
  height: 2em;
  border-radius: 2em;
  border: 2px solid buttonface;
  box-shadow: 2px 2px 2px lightgray;
  background: white;
  cursor: pointer;
}

.Clip input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 55em;
  height: 1em;
  margin: 1em 0;
  border-radius: 2em;
  background: lightgray;
  outline: none;
}

.Clip input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 5em;
  text-align: center;
  font-size: 1em;
  height: 2em;
  border-radius: 4px;
  border: 2px solid buttonface;
  box-shadow: 2px 2px 2px lightgray;
  background: white;
  outline: none;
}

.Clip label {
  width: 25em;
  margin: 0.5em 0;
}

.Clip label > input {
  width: 5em;
  padding-left: 1em;
  margin-left: 2em;
}

.Clip ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-inline-start: 0;
}

.Clip li {
  display: flex;
  flex-direction: column;
}

.Clip li img {
  width: intrinsic;

  border: 2px solid lightgray;
  border-radius: 4px;
  box-shadow: 
    -2px -2px 0 buttonface,
    2px -2px 0 buttonface,
    -2px 2px 0 buttonface,
    2px 2px 0 buttonface,
    5px 5px 5px lightgray;
}
