.App {
  text-align: center;
}

.App-logo {
  font-size: 3em;
  margin-right: 0.5em;
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
