body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.intro {
  font-size: large;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

button {
  font-size: 1.5em;

  width: 15em;
  height: 2em;
  margin-top: 2em;
  margin-bottom: 2em;

  border-radius: 1em;
  border-style: solid;
  background-color: lightgray;
}

select {
  /* required for safari to accept any styles */
  -webkit-appearance: none;
  font-size: 1.5em;
  padding-left: 0.2em;
}

pre, select, textarea {
  outline: none;

  /* Wrap text */
  max-width: 75%;
  white-space: pre-wrap;
  word-wrap: break-word;
}

button, input {
  outline: none;
}
